BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 100
NamespaceIndentation: None
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
FixNamespaceComments: true
SpacesBeforeTrailingComments: 1
IndentCaseLabels: true
